.navbar {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(196, 194, 194, 0.1);

    .icon{
        img{
            max-height: 50px;
        }
    }
    .menus{
        margin: 0px !important;
        li{
            display: inline-block;
            margin-left: 50px;
            font-size: 17px;
            font-weight: 500;
            a{
                text-decoration: none;
                color: black;
                padding-left:  15px;

            &:hover{
            color: red;

            }
        }
        }
    }
}
