@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
.home .slider-item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.home-text {
  color: white;
  padding-top: 120px;
}
.home-text .title {
  font-size: 20px;
  font-family: cursive;
  text-align: right;
  margin-bottom: -10px;
}
.home-text .text {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}
.home-text .button_text {
  border-radius: 25px;
  border: 1.2px solid white;
  width: 140px;
  height: 50px;
  background-color: transparent;
  margin-top: 80px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 400px;
}
.home-text .button_text:hover {
  background-color: #ce3959;
  border-color: #ce3959;
}

.carousel-control-prev-icon {
  margin-left: -80px;
}

.services .text {
  padding-left: 80px;
  padding-bottom: 50px;
}
.services .text .line {
  width: 70%;
  height: 2.5px;
  background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
}
.services .text .title {
  padding-top: 150px;
}
.services .text .content {
  padding-top: 70px;
  font-weight: 200;
  font-size: 17px;
}
.services .logo {
  margin-top: 110px;
  margin-left: 60px;
}
.services .box {
  border: 1px solid #f3f3f3;
  height: 150px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  font-size: 21px;
  font-weight: 300;
}
.services .box img {
  width: 70px;
  margin-left: 15px;
}
.services .box:hover {
  background-color: #ce3959;
  color: white;
}

.donation .image-container {
  margin-bottom: 50px;
  margin-top: 90px;
  text-align: right;
}
.donation .image-container .text {
  color: #ce3959;
  padding-top: 100px;
  padding-right: 80px;
}
.donation .image-container .text .donation-text {
  border-right: 0.5px solid rgb(87, 85, 85);
  padding-right: 35px;
}
.donation .image-container .text .image {
  padding-right: 80px;
}
.donation .image-container .text .image img {
  width: 220px;
}
.donation .image-container .text .goal {
  padding-top: 50px;
  padding-left: 150px;
}

.news {
  padding-top: 70px;
  text-align: center;
  margin-bottom: 50px;
}
.news .cursive {
  font-family: cursive;
  font-size: 20px;
  font-weight: 200;
}
.news .event {
  margin-top: -25px;
  font-size: 60px;
  font-weight: bold;
  color: #ce3959;
  margin-bottom: 70px;
}
.news .news-holder {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.news .news-holder .event-box {
  border: 1px solid #f3f3f3;
  width: 100%;
  height: 700px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.news .news-holder .event-box a {
  text-decoration: none;
}
.news .news-holder .event-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.news .news-holder .event-box .news-image {
  width: 100%;
}
.news .news-holder .event-box .text {
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 50px;
}
.news .news-holder .event-box .text .title {
  font-size: 21px;
  font-weight: 500;
  color: black;
}
.news .news-holder .event-box .text .title a {
  text-decoration: none;
}
.news .news-holder .event-box .text .title:hover {
  color: #ce3959;
}
.news .news-holder .event-box .text .content {
  font-size: 17px;
  color: #556172;
}
.news .news-holder .event-box .text .line {
  width: 100%;
  height: 4px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
}

.newsShow .text {
  padding-top: 160px;
  margin-left: 50px;
  font-size: 70px;
  color: white;
  font-weight: 500;
}
.newsShow .selected-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.newsShow .selected-container .selected-news {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
}
.newsShow .selected-container .selected-news img {
  width: 85%;
}
.newsShow .selected-container .news-details {
  margin-left: 100px;
  margin-top: 20px;
}
.newsShow .selected-container .news-details .title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.newsShow .selected-container .news-details .line {
  width: 92%;
  height: 2.5px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
}
.newsShow .selected-container .news-details .cont {
  margin-bottom: 150px;
  padding-right: 80px;
}
.newsShow .selected-container .popular-event .popular {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  color: #ce3959;
  margin-bottom: 40px;
}
.newsShow .selected-container .news-holder {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.newsShow .selected-container .news-holder .event-box {
  border: 1px solid #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.newsShow .selected-container .news-holder .event-box a {
  text-decoration: none;
}
.newsShow .selected-container .news-holder .event-box .news-image {
  width: 100%;
}
.newsShow .selected-container .news-holder .event-box .text {
  margin-top: -100px;
  margin-right: 30px;
}
.newsShow .selected-container .news-holder .event-box .text .title {
  font-size: 21px;
  font-weight: 500;
  color: black;
}
.newsShow .selected-container .news-holder .event-box .text .title a {
  text-decoration: none;
}
.newsShow .selected-container .news-holder .event-box .text .title:hover {
  color: #ce3959;
}
.newsShow .selected-container .news-holder .event-box .text .content {
  font-size: 17px;
  color: #556172;
}
.newsShow .selected-container .news-holder .event-box .text .line {
  width: 100%;
  height: 2px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
}
.newsShow .selected-container .news-holder .event-box .text .read {
  border-radius: 25px;
  border: 2px solid #ce3959;
  width: 130px;
  height: 40px;
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-weight: 350;
}
.newsShow .selected-container .news-holder .event-box .text .read:hover {
  background-color: #ce3959;
  color: white;
}

.footer {
  background-color: #1d2024;
  color: white;
  padding-top: 50px;
  padding-bottom: 60px;
}
.footer .contact {
  font-size: 16px;
  padding-left: 50px;
}
.footer .contact a {
  color: white;
  text-decoration: none;
}
.footer .logo {
  display: flex;
  padding-left: 100px;
}
.footer .logo img {
  margin-top: -20px;
}
.footer .logo .text {
  padding-left: 20px;
  font-size: 20px;
}
.footer .icon {
  padding-left: 270px;
}
.footer .icon i {
  margin-right: 13px;
  color: white;
}
.footer .icon i:hover {
  color: blue;
}
.footer .nav {
  justify-content: center;
}
.footer .nav .menus {
  margin-top: 50px;
}
.footer .nav .menus li {
  display: inline-block;
  margin-right: 75px;
}
.footer .nav .menus li a {
  text-decoration: none;
  color: white;
}
.footer .nav .menus li a:hover {
  color: #ce3959;
}
.footer .copyright {
  text-align: center;
  margin-top: 50px;
  color: #798492;
  font-size: 15px;
}

.contacts {
  margin-left: 80px;
  margin-top: 140px;
  margin-bottom: 140px;
}
.contacts .content {
  color: #546071;
  margin-top: 50px;
  margin-right: 100px;
  font-weight: 400;
}
.contacts a {
  color: #a52070;
}
.contacts .line {
  width: 80%;
  height: 2.5px;
  background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
}

.box-holder {
  display: flex;
}
.box-holder .box {
  display: inline;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  margin-top: 50px;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 180px;
  width: 180px;
  padding-top: 30px;
  font-size: 45px;
  color: #a52070;
}
.box-holder .box p {
  font-size: 15px;
  color: #647285;
  font-weight: 300;
}

.contact-form {
  border: 1px solid #1d2024;
  width: 410px;
  height: 492px;
  color: #ce3959;
  background-color: #1d2024;
}
.contact-form p {
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  margin-top: 35px;
}
.contact-form .line {
  margin-left: 95px;
  margin-bottom: 55px;
  width: 50%;
  height: 2.5px;
  background: linear-gradient(to left, #546071 12%, #ffffff 10%, #ffffff 100%);
}
.contact-form .form-group {
  margin: 40px;
  margin: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
.contact-form .submit {
  border: 1px solid black;
  margin-left: 65px;
  margin-top: 20px;
  background-color: #CE3959;
  color: white;
  border-radius: 30px;
  height: 40px;
  width: 100px;
  font-weight: 300;
}
.contact-form .submit:hover {
  border: 1px solid white;
  color: white;
  background-color: #1d2024;
}

.showdonation .image-container {
  margin-bottom: 100px;
  text-align: right;
}
.showdonation .image-container .text {
  color: #ce3959;
  padding-top: 100px;
  padding-right: 80px;
}
.showdonation .image-container .text .donation-text {
  border-right: 0.5px solid rgb(87, 85, 85);
  padding-right: 35px;
  padding-top: 120px;
}
.showdonation .image-container .text .image {
  padding-right: 20px;
}
.showdonation .image-container .text .image img {
  width: 350px;
}
.showdonation .image-container .text .goal {
  padding-top: 120px;
  padding-left: 150px;
}

@media (max-width: 768px) {
  .home-text .title {
    font-size: 14px;
    font-family: cursive;
    margin-bottom: -10px;
    text-align: center;
  }
  .home-text .text {
    font-size: 35px;
    text-align: center;
  }
  .home-text .button_text {
    border-radius: 25px;
    border: 1.2px solid white;
    width: 100px;
    height: 40px;
    background-color: transparent;
    margin-top: 70px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-left: 50px;
  }
  .home-text .button_text:hover {
    background-color: #ce3959;
    border-color: #ce3959;
  }
  .services {
    margin-top: -67px;
  }
  .services .text .line {
    width: 100%;
    height: 2.5px;
    margin-left: -28px;
    background: linear-gradient(to right, #546071 10%, #dadde1 10%, #dadde1 100%);
  }
  .services .text .title {
    text-align: center;
    margin-left: -45px;
  }
  .services .text .content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 16px;
    font-weight: 200;
    font-size: 17px;
    margin-left: -45px;
  }
  .services .logo {
    margin-top: 0;
  }
  .services .box {
    border: 1px solid #f3f3f3;
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    font-size: 21px;
    font-weight: 300;
  }
  .services .box img {
    width: 70px;
    margin-left: 15px;
  }
  .services .box:hover {
    background-color: #ce3959;
    color: white;
  }
  .news {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 50px;
  }
  .news .cursive {
    font-family: cursive;
    font-size: 20px;
    font-weight: 200;
  }
  .news .event {
    margin-top: -25px;
    font-size: 60px;
    font-weight: bold;
    color: #ce3959;
    margin-bottom: 70px;
  }
  .news .news-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
  }
  .news .news-holder .event-box {
    border: 1px solid #f3f3f3;
    width: 90%;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .news .news-holder .event-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .news .news-holder .event-box .news-image {
    width: 100%;
  }
  .news .news-holder .event-box .text {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
  .news .news-holder .event-box .text .title {
    font-size: 18px;
    font-weight: 500;
  }
  .news .news-holder .event-box .text .title:hover {
    color: #ce3959;
  }
  .news .news-holder .event-box .text .content {
    font-size: 15px;
    color: #556172;
  }
  .news .news-holder .event-box .text .line {
    width: 100%;
    height: 2px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #546071 12%, #dadde1 10%, #dadde1 100%);
  }
  .events .event-container .image img {
    width: 280px;
    margin-left: -50px;
  }
  .events .event-container .texts .title {
    font-size: 10px;
  }
  .donation .image-container {
    margin-bottom: 50px;
    margin-top: 90px;
  }
  .donation .image-container .text {
    margin-left: -20px;
  }
  .donation .image-container .text .donation-text {
    text-align: center;
    border-right: none;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: -80px;
  }
  .donation .image-container .text .image {
    padding-bottom: 20px;
  }
  .donation .image-container .text .image img {
    width: 100px;
    padding-left: 20px;
  }
  .donation .image-container .text .goal {
    margin-top: -50px;
    margin-left: -70px;
  }
  .footer .contact {
    font-size: 16px;
  }
  .footer .contact a {
    color: white;
    text-decoration: none;
  }
  .footer .logo {
    display: flex;
    margin-top: 35px;
    margin-left: -25px;
    font-size: 15px;
  }
  .footer .logo img {
    margin-top: -20px;
  }
  .footer .logo .text {
    font-size: 15px;
  }
  .footer .icon {
    margin-top: 20px;
    padding-left: 120px;
  }
  .footer .icon i {
    margin-right: 22px;
    color: white;
  }
  .footer .icon i:hover {
    color: blue;
  }
  .footer .nav {
    font-size: 17px;
  }
  .footer .nav .menus {
    margin-top: 50px;
  }
  .footer .nav .menus li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .footer .nav .menus li a {
    text-decoration: none;
    color: white;
  }
  .footer .nav .menus li a:hover {
    color: #ce3959;
  }
  .footer .copyright {
    text-align: center;
    margin-top: 50px;
    color: #798492;
    font-size: 15px;
  }
}
.desktop-navbar {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(196, 194, 194, 0.1);
}
.desktop-navbar .icon img {
  max-height: 50px;
}
.desktop-navbar .menus {
  margin: 0px !important;
}
.desktop-navbar .menus li {
  display: inline-block;
  margin-left: 50px;
  font-size: 17px;
  font-weight: 500;
}
.desktop-navbar .menus li a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}
.desktop-navbar .menus li a:hover {
  color: red;
}

.mobile-navbar {
  display: none;
}

@media (max-width: 768px) {
  .mobile-navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-navbar .icon img {
    margin-top: 5px;
    margin-left: 15px;
    width: 50px;
  }
  .mobile-navbar .menu-toggle {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .mobile-navbar .menu-toggle .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: transform 0.4s ease;
  }
  .mobile-navbar .menu-toggle .cross-icon {
    display: none;
  }
  .mobile-navbar .menu-toggle .cross-icon .active {
    display: block;
  }
  .mobile-navbar .close-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    color: black;
  }
  .mobile-navbar .menu-container {
    display: none;
  }
  .mobile-navbar .menus {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 25px;
    height: 100vh;
  }
  .mobile-navbar .menus li {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .mobile-navbar .menus li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    display: block;
    padding: 10px 0;
  }
  .mobile-navbar .menus li a:hover {
    color: #ff5733;
  }
  .mobile-navbar .menu-container.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3000;
    overflow-y: auto;
  }
  .desktop-navbar {
    display: none;
  }
}
.events .text {
  padding-top: 160px;
  padding-left: 100px;
  font-size: 70px;
  color: white;
  font-weight: 500;
}
.events .event-container {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.events .event-container .texts .title {
  font-size: 21px;
  font-weight: 500;
}
.events .event-container .texts .title:hover {
  color: #ce3959;
}
.events .event-container .texts .content {
  font-size: 17px;
  color: #556172;
}
.events .event-container .texts .line {
  width: 100%;
  height: 3px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #546071 10%, #dadde1 10%, #dadde1 100%);
}
.events .event-container .texts .read {
  border-radius: 25px;
  border: 2px solid #ce3959;
  width: 130px;
  height: 40px;
  background-color: transparent;
  margin-top: 40px;
  color: black;
  font-size: 18px;
  font-weight: 350;
}
.events .event-container .texts .read:hover {
  background-color: #ce3959;
  color: white;
}
.events .custom-pagination {
  margin-left: 100px;
  margin-bottom: 100px;
}
.events .custom-pagination .pagination-link {
  display: inline-block;
  width: 39px;
  height: 39px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #d6d7d9;
  margin-right: 20px;
  padding-top: 3px;
  font-size: 15px;
  font-weight: 400;
}
.events .custom-pagination .pagination-link a {
  color: #546071;
  text-decoration: none;
}
.events .custom-pagination .pagination-link a i {
  font-size: 13px;
  color: #434a56;
}
.events .custom-pagination .pagination-link:hover {
  border-color: #ce3959;
}
.events .custom-pagination .pagination-link.active {
  background-color: #ce3959;
  color: white;
}
.events .custom-pagination .pagination-link.active a {
  color: white;
}

* {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=index.css.map */